In [1]:
import pandas as pd

In [24]:
df = {'Nombre':['Zapdos', 'Togepi', 'Charizard', 'Totodile', 'Mew'], 'Numero':['145', '175', '6', '158', '151'], 'Tipo':['Eléctrico', 'Hada', 'Fuego', 'Agua', 'Psiquico'], 'altura':['1.6', '0.3', '1.7', '0.6', '0.4'], 'Peso':['52.6', '1.5', '92', '9.5', '4'], 'Sexo':['Femenino', 'Femenino', 'Masculino', 'Masculino', 'Desconocido'], 'Habilidad':['Presion', 'Entusiasmo', 'Mar llamas', 'Torrente', 'Sincronía']}

In [25]:
df = pd.DataFrame(df)

In [26]:
df

      Nombre Numero       Tipo altura  Peso         Sexo   Habilidad
0     Zapdos    145  Eléctrico    1.6  52.6     Femenino     Presion
1     Togepi    175       Hada    0.3   1.5     Femenino  Entusiasmo
2  Charizard      6      Fuego    1.7    92    Masculino  Mar llamas
3   Totodile    158       Agua    0.6   9.5    Masculino    Torrente
4        Mew    151   Psiquico    0.4     4  Desconocido   Sincronía

ValueError: DataFrame constructor not properly called!